body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/* Header Styles */
header {
    background-color: #ffffff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #6b7280;
    font-size: 16px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #5e35b1;
}


.hero-img {
    height: 150px;
}

.overview-hero .container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: rgb(230, 237, 241);
    padding-top: 8px;

}

.overview-hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.card-img {
    height: 100px;
    display: block;
    margin: 0 auto;
}

.cards {
    display: grid;;
    grid-template-columns: repeat(3, 250px);
    column-gap: 18px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;

}

.card {
    border-color: #000000;
    border-radius: 8px;
    border-width: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin-bottom: 20px;
}